.header-color {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.landing-grid {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
width:100%;

}

.header-image {
  height: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 50%;
}

.landing-grid-cell1 {
  justify-content: center;
}

.welcome-text {
  color: whitesmoke;
}

.landing-description {
  color: whitesmoke;
  padding-right: 10%;
  padding-left:  10%;
  text-align: center;
  font-size: 18px;
  line-height: 2.0;
}

.footer-grid {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  width:100%;
}

.footer-section-cell {
  justify-content: center;
}

.footer-section-cell i {
  padding-right: 1em;
  padding-left:1em;
  color:lightslategray;
}

.copyright {
  color: darkgrey;
}
